# Virtual Environment
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.log

# Environment Variables
.env

# Static / Media
staticfiles/
media/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store