<section class="hero-section">

    <div class="container">

        <div class="glass-card hero-card text-center">

            <h1>
                Sharaf Eldin
            </h1>

            <h2>
                AI &amp; Software Engineering
            </h2>

            <p>
                Empowering the future through Artificial Intelligence,
                Software Engineering, and Professional Programming Courses.
            </p>


            <!-- Hero Buttons -->

            <div class="hero-buttons mt-4">

                <a
                    href="{% url 'courses' %}"
                    class="btn-primary me-2"
                >
                    Explore Courses
                </a>


                <a
                    href="{% url 'contact' %}"
                    class="btn-main"
                >
                    Contact Us
                </a>

            </div>

        </div>

    </div>

</section>