<nav class="navbar navbar-expand-lg fixed-top">

    <div class="container">

        <!-- Logo -->

        <a class="navbar-brand" href="{% url 'home' %}">
            Sharaf Eldin
        </a>


        <!-- Mobile Button -->

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >

            <span class="navbar-toggler-icon"></span>

        </button>


        <!-- Navbar Links -->

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ms-auto">


                <!-- Home -->

                <li class="nav-item">

                    <a
                        class="nav-link"
                        href="{% url 'home' %}"
                    >
                        Home
                    </a>

                </li>


                <!-- Services -->

                <li class="nav-item">

                    <a
                        class="nav-link"
                        href="{% url 'services' %}"
                    >
                        Services
                    </a>

                </li>


                <!-- Courses -->

                <li class="nav-item">

                    <a
                        class="nav-link"
                        href="{% url 'courses' %}"
                    >
                        Courses
                    </a>

                </li>


                <!-- Statistics -->

                <li class="nav-item">

                    <a
                        class="nav-link"
                        href="{% url 'home' %}#statistics"
                    >
                        Statistics
                    </a>

                </li>


                <!-- Contact -->

                <li class="nav-item">

                    <a
                        class="nav-link"
                        href="{% url 'contact' %}"
                    >
                        Contact
                    </a>

                </li>


            </ul>

        </div>

    </div>

</nav>